body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  margin: 20px;
  padding-top: 80px;
}

main {
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 3px 3px 12px #c8c8c8;
  margin: 20px auto;
  max-width: 550px;
  padding: 20px;
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

li.history-message {
  padding: 10px;
}

li:nth-child(odd).history-message{
  background-color: #e3e3e3;
  border-radius: 6px;
}

#initials {
  width: 20px;
}

#message {
  width: 100px;
}

.chat-btn {
  width: 20px;
}

.chat-area {
  background-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 3px 3px 12px #c8c8c8;
  padding: 20px;
/*  min-width: 400px;
  max-width: 430px;
  max-height: 600px;*/
}

.custom-tables {
  padding-top: 70px;
}

.api-Token{
  max-width: 500px;
}